@at-root {
  @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
}

$font_primary: "Inter", sans-serif;
$font_size__title: 2.25rem;
$font_size__subtitle: 1.5rem;
$font_size__body: 1rem;

$color_primary: #030616;
$color_link: #4e80ee;
$color_background__gray: #d2d5da;
$color_background__white: #f8fafc;
